.container {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  border: 2px solid black;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
background: #A9EDF0;
background: -webkit-radial-gradient(top right, #A9EDF0, #53B1C9);
background: -moz-radial-gradient(top right, #A9EDF0, #53B1C9);
background: radial-gradient(to bottom left, #A9EDF0, #53B1C9);
  border: .5px solid black;
  border-radius: 10px;
  padding-bottom: 20px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "dis dis dis dis"
    "AC C div times"
    "seven eight nine minus"
    "four five six plus"
    "one two three equal"
    "zero zero dot equal";
}

.pad-button {
  display: flex;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin: 2px;
  justify-content: center;
  align-items: center;
  padding: 16px 30px;
  color: white;
  background-color: #17a589;
  border: 1.5px inset black;
  cursor: pointer;
  font-size: 20px;
}

.pad-button:hover {
  border: 1px solid white;
  color: #f8c471;
}

.dark-gray {
  background-color: #5d6d7e;
}

.red {
  background-color: #e74c3c;
}

.blue {
  background-color: #173042;
}

.zero {
  grid-area: zero;
}

.equal {
  grid-area: equal;
}

.dis {
  background-color: black;
  box-shadow: grey 0px 25px 30px -2em inset;
  text-align: right;
  grid-area: dis;
  border-radius: 8px;
  padding-bottom: 5px;
}

.dis input {
  border: none !important;
  box-shadow: grey 0px 25px 30px -2em inset; 
  border-radius: 15px;
  width: 89%;
  align-items: center;
  color: white;
  padding: 7px 20px;
  padding-top: 10px;
  text-align: right;
  background-color: black;
  font-size: 1rem;
}

.total {
  padding: 5px 20px;
  box-shadow: grey 0px 25px 30px -2em inset;
  font-size: 2rem;
  padding-top: 15px;
  color: #44c553;
}
